  <!--<div class="card  mt-3">
    <div class="card-header">
      Hero <b>{{HeroObj.name | uppercase}}</b> Details
    </div>
    <div class="card-body">
      <h5 class="card-title">ID: {{HeroObj.id}}</h5>
      <p class="card-text">Name: {{HeroObj.name}}</p>
     </div>
  </div>

  <div class="card  mt-3">
      <div class="card-header">
        Edit Hero: <b>{{HeroObj.name | uppercase}}</b> 
            </div>
      <div class="card-body">
        <div class="form-group">
                          <label for="name">Name</label>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="HeroObj.name">
              
            </div>
       </div>
      </div>-->
      
    <div class="card  mt-3">
            <div class="card-header">
              List of Heros 
                  </div>
                  <div class="card-body">
                      <ul class="list-group">
                        <!-- [class.selected]="hero === selectedHero" For applying Css class For click (click)="onSelect(hero)"-->
                          <li *ngFor="let hero of heroes"  routerLink="/detail/{{hero.id}}" class="list-group-item" >{{hero.id}} - {{hero.name}} </li>
                         </ul>
                    </div>
              </div>
             
        <!--  <div *ngIf="selectedHero">
              <div class="card  mt-3">
                  <div class="card-header">
                   Update Selected Hero : {{selectedHero.name}}
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="selectedHero.name">
                    
                  </div>
                          </div>
                    </div>
                  </div>-->
                  
                  
