<!-- <form  #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm)">

<input type="hidden" name="_id" #_id="ngModel"  [(ngModel)]="studentservice.selectedStudent._id" >
  <label>name:</label>
  <input type="text" name="name" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.name" >
  <label>password:</label>
  <input type="text" name="password" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.password" >
  <label>rollnumber:</label>  
  <input type="text" name="rollnumber" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.rollnumber" >
  <label>email:</label>  
  <input type="text" name="email" #name="ngModel"  [(ngModel)]="studentservice.selectedStudent.email" >

  <button>
    Submit
  </button>
</form> -->

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome to FAST Careers Portal </h3>


    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified " id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Admin</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Register as Student</h3>
          <div class="row register-form">
            <form #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm)">

              <div class="col-md-12">
                  <div class="form-group">
                      <input type="hidden" class="form-control"  name="_id" #_id="ngModel"  [(ngModel)]="studentservice.selectedStudent._id" />
                    </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder=" Full Name *" name="name" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.name"  />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Roll Number *" name="rollnumber" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.rollnumber" />
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" name="email" #name="ngModel"  [(ngModel)]="studentservice.selectedStudent.email"  />
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" name="password" #name="ngModel" [(ngModel)]="studentservice.selectedStudent.password"  />
                </div>

                <div class="form-group">
                  <div class="maxl">
                    <label class="radio inline">
                      <input type="radio" name="gender" value="male" checked>
                      <span> Male </span>
                    </label>
                    <label class="radio inline">
                      <input type="radio" name="gender" value="female">
                      <span>Female </span>
                    </label>
                  </div>
                </div>
              </div>
            
            <input type="submit" class="btnRegister" value="Register"/>
</form>
          </div>
        </div>
        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading">Register as Admin</h3>
          <div class="row register-form">
            <div class="col-md-9">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name *" value="" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Employee Number *" value="" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>

              <input type="submit" class="btnRegister" value="Register" />
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>